/* *page transitions*/
@keyframe myfadeInAnimation {
    from {opacity: 0;}
    to {opacity: 1;}
}

@-webkit-keyframes myfadeInAnimation {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* body and columns*/
body {
    width:100%;
    animation: myfadeInAnimation 2.5s;
}

.col-sm-6 {
    padding: 0;
}

/* headers */
h1, h2 {
    font-family: 'Inconsolata', monospace;
}

h3, h4, ul, p {
    font-family: 'Work Sans', sans-serif;
}

/**nav bar**/
.navbar{
    background: rgba(255, 255, 255, .5);
    border: transparent;
}

.navbar-brand {
    padding: 0px;
}

.navbar-brand>img {
    height: 100%;
    width: auto;
}

.navbar-nav > li > a {
    color: black;
}

.navbar-nav > li > a:hover {
    color: #F5A623;
    text-decoration: underline;
}

.navbar-fixed-top {
    padding: 2%;
}

.collapse li {
    color: black;
}

.navbar .navbar-toggle .icon-bar {
    background-color:black;
}

.navbar-right {
    text-align: right;
}

/*about*/
.aboutheader {
    margin: 9% 3% 3% 2%;   
}

.about-body {
    margin-left: 3%;
}

#profileimage {
    width: 50%;
    margin-bottom: 10%;
}

#profileimage:hover {
    animation: bounce 2.5s; 
    -webkit-animation: bounce 2.5s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

/*places*/
#places {
    float: left;
    padding-bottom: 5%;
    background-color: #4A78E2;
    width: 100%;
}

.placesheader {
    padding: 3% 3% 0 2%; 

}

.places-container {
    margin-left: 10%;
    margin-top: 3%;
}

/*cities*/
.paris {
    padding-bottom: 3%;
}

.paris:hover {
    opacity:0.5;
    transition: .5s ease;
    animation: pulse .8s; 
    -webkit-animation: pulse .8s;
}

.sevilla {
    padding-bottom: 3%;
    transition: .5s ease;
}

.sevilla:hover {
    opacity:0.5;
    transition: .5s ease;
    animation: pulse .8s; 
    -webkit-animation: pulse .8s;
}

.lisbon {
    padding-bottom: 3%;
    transition: .5s ease;
}

.lisbon:hover {
    opacity:0.5;
    transition: .5s ease;
    animation: pulse .8s; 
    -webkit-animation: pulse .8s;
}

.copenhagen {
    padding-bottom: 3%;
    transition: .5s ease;
}

.copenhagen:hover {
    opacity: 0.5;
    transition: .5s ease;
    animation: pulse .8s; 
    -webkit-animation: pulse .8s;
}

.uk {
    padding-bottom: 3%;
    transition: .5s ease;
}

.uk:hover {
    opacity:0.5;
    transition: .5s ease;
    animation: pulse .8s; 
    -webkit-animation: pulse .8s;
}

.marrakech {
    padding-bottom: 3%;
    transition: .5s ease;
}

.marrakech:hover {
    opacity:0.5;
    transition: .5s ease;
    animation: pulse .8s; 
    -webkit-animation: pulse .8s;
}

/*FAQ*/
#faqs {
    margin-bottom: 3%;
}

#faqs h3 {
    margin-top: 0;
    margin-left: 10%;
}

#faqs h3:hover {
    color: #F5A623;
    text-decoration: underline;
}

.faqheader{
    padding: 3% 0 3% 2%;
}

#city-list {
    display: inline-block;
}

#first-list {
    float: left;
}

#second-list {
    float: right;
    margin:0;
}

/*contact*/
#contact {
    padding-bottom: 2%;
    background-color: #4BBB8E;
    padding: 2% 0 0 0;
    width: 100%;
}

.contactheader {
    padding: 3% 0 0 5%;
}

#contactdetails {
    margin-top: 5%;
    padding-left: 2%;
}

#contactdetails a {
    color:white;
}

#contactdetails a:hover {
    color:#F5A623;
    text-decoration: underline;
}

.insta {
    margin: 2% 2% 5% 0;
}
/*destination page*/
#chosen-destination{
    margin-top: 10%;
}

.product-detail h1 {
    text-align: center;
    font-size: 3em;
}

.product-detail img {
    padding-bottom: 2%;
}

.play-detail img {
    padding-bottom: 2%;
}

.stay-detail img {
    padding-bottom: 5%;
}

.imgpairs {
    display: inline-block;
}

#img2 {
    padding-bottom: 4%;
}

#img3 {
    padding-bottom: 4%;
}

#img4 {
    padding-bottom: 2%;
}

/* other places */
#product-selection-container {
    margin-bottom: 5%;
}

#product-selection-container h2 {
    text-align: center;
}

#product-selection-container p:hover {
    color: #F5A623;
    text-decoration: underline;
    animation: bounceIn 1s; 
    -webkit-animation: bounceIn 1s;
}