body {
    padding: 3%;
}

h1 {
    font-family: 'Work Sans', sans-serif;
}

h2 {
}

ul {
    font-family: 'Work Sans', sans-serif;
}

p {
    font-family: 'Work Sans', sans-serif;
}



/*banner*/
.thumbnail{
    position: relative;
}

/**
h3#banner-text {
    font-family: 'Work Sans', sans-serif;
    font-size: 5em;
}

p#banner-text  {
    font-family: 'Work Sans', sans-serif;
    font-size: 2em;
}
*/

.jumbotron {
    background-image: url("img/banner-budapest.png");
    background-size: cover;
    background-position: center;
}

/*about*/
.aboutheader {
    padding: 0 3% 3% 3%; 
}

/*places*/
.places {
    float: left;
    padding-bottom: 5%;
    background-color: #4A90E2;
    width: 100%;
}

.placesheader {
    padding: 3% 3% 0 3%; 
}

.places-container {
    padding: 5%;

}

/*cities*/
.lisbon {
    padding-bottom: 3%;
}

.copenhagen {
    padding-bottom: 3%;
}

.paris {
    padding-bottom: 3%;
}

.uk {
    padding-bottom: 3%;
}

.sevilla {
    padding-bottom: 3%;
}

.marrakech {
    padding-bottom: 3%;
}

/*FAQ*/
.faq h3 {
    color: #4A90E2;
    font-family: 'Ubuntu', sans-serif;
}

.faqheader{
    padding: 3% 3% 0 2%; 
}

#city-list {
    display: inline-block;
}

#first-list {
    float: left;
}

#second-list {
    float: right;
}

/*contact*/
.contact-container {
    padding-bottom: 2%;
    background-color: #417505;
    padding: 2% 0 0 0;
    width: 100%;
}

p#hello-details {
    color: white;
}

